@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --brand-color: #7F00FF;
    --text-color:black;
    scroll-behavior: smooth;
    font-family: "Noto Sans", sans-serif;
    color: var(--text-color);
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

h2 {
    font-family: Righteous, cursive;
}