.podcasts {
    padding-top:60px;
    padding-bottom:110px;
    background-color:#1a1b29;
    color:#ffffff;
}

.podcasts__info {
    padding-left:24px;
    padding-right:24px;
}

.podcasts__intro-top-content {
   flex-wrap:wrap;
}

.podcasts__intro-icon {
    font-size:30px;
    color:#7F00FF;
    font-weight:normal;
}

.podcasts__intro-subtitle {
    color:#DBDBDB;
    font-size:12px;
    letter-spacing:1.2px;
    text-transform:uppercase;
    font-weight:bold;
    line-height:16.8px;
}

.podcasts__intro-bottom-content {
    margin-top:50px;
    margin-bottom:50px;
}

.podcasts__intro-description {
    font-size:18px;
    line-height:27px;
}

.podcasts__item-img {
    padding-top:10px;
    padding-bottom:10px;
}

.podcasts__item-title {
    font-size:22px;
    margin:auto;
    line-height:33px;
}




